[Unit]
Description=Feral Fotos
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=30s
ExecStart=/usr/local/bin/feral_fotos_client.sh

[Install]
WantedBy=multi-user.target
